<form class="form-signin" action="/users/verify" method="POST">
  <h2 class="form-signin-heading">please verify</h2>

  <label for="secretToken" class="sr-only">secretToken</label>
  <input type="text" id="SecretToken" name="email" class="form-control" placeholder="secretToken address" required autofocus>
  <br/>
  
  <button class="btn btn-lg btn-default btn-block" type="submit">verify</button>
</form>
